<fieldset>
  <input type="text" name="name" placeholder="Project Name"
  ng-model="projectController.project.name" ng-required="true">
  <p class="error validationerror"
  ng-show="myform.name.$invalid && myform.name.$touched">
  Project name required</p>

  <input type="text" name="leadFirstName" placeholder="Lead First Name"
  ng-model="projectController.project.leadFirstName" ng-required="true">
  <p class="error validationerror"
  ng-show="myform.leadFirstName.$invalid && myform.leadFirstName.$touched">
  Lead first name required</p>

  <input type="text" name="leadLastName" placeholder="Lead Last Name"
  ng-model="projectController.project.leadLastName" ng-required="true">
  <p class="error validationerror"
  ng-show="myform.leadLastName.$invalid && myform.leadLastName.$touched">
  Lead last name required</p>

</fieldset>